################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x64/Debug
/.vs
/.vs
/.vs/config/applicationhost.config
*.config
*.suo
*.db
*.opendb
*.bak
*.user
